<configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %highlight{%-6p}{FATAL=bright_white, ERROR=bright_red, WARN=bright_blue, INFO=white, DEBUG=cyan, TRACE=bright_green} %c{1} - %msg%n" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</configuration>